/* client/src/components/Layout.css */
.layout-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #f8fafc; 
  overflow-x: hidden;
}

.layout-main {
  margin-left: 250px; 
  padding: 50px;
  width: calc(100% - 250px); 
  box-sizing: border-box;
  
 
  display: flex;
  flex-direction: column;
  align-items: stretch; 
}