# =========================
# BANCO DE DADOS E CHAVES
# =========================
db.sqlite3
.env

# =========================
# AMBIENTE VIRTUAL
# =========================
venv/
env/
.venv/

# =========================
# CACHE E ARQUIVOS COMPILADOS DO PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# ARQUIVOS DE SISTEMA OPERACIONAL
# =========================
.DS_Store
Thumbs.db

# =========================
# MÍDIAS E ESTÁTICOS LOCAIS
# =========================
media/